<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BuscaSimples/src/buscasimples/ex01/BuscaSimples.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="buscasimples.ex01.BuscaSimples"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BuscaSimples"/>
</launchConfiguration>
