body {
	font-family: Arial;
	background: #000;
}

.container {
	width: 960px;
	margin: auto;
	background: #fff;
}

h1 {
	font-family: Arial;
	font-size: 36px;
	text-align: center;
}

h2 {
	font-family: Arial;
	color: #f00;
	font-size: 24px;
	text-align: center;
}

.linha {
	display: flex;
	flex-wrap: wrap;
}

.item {
	flex: 200px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}

.item img {
	width: 100%;
}

nav {
	width: 100%;
	background: #F00;
	padding: 5px 0;
	text-align: center;
}

ul li {
	display: inline;
}

ul li a {
	font: 13px Arial;
	color: #fff;
	margin: 5px;
	text-decoration: none;
	padding: 10px;
}

ul li a:hover {
	color: #fff;
	text-decoration: inline;
	background: #000;
}